<!DOCTYPE html>
<html lang="en" ng-app="malControlApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MalControl - The Ultimate Malware Control Center</title>
        <!-- Bootstrap -->
        <link href="libs/jquery-ui-1.10.4/jquery-ui.css" type="text/css" rel="stylesheet">
        <link href="libs/bootstrap-3.1.1/css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <link href="libs/bootstrap-3.1.1/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet">
        <link href="libs/mapbox-1.6.2/mapbox.css" type="text/css" rel="stylesheet">
        <link href="libs/mapbox-1.6.2/MarkerCluster.css" type="text/css" rel="stylesheet">
        <link href="libs/mapbox-1.6.2/MarkerCluster.Default.css" type="text/css" rel="stylesheet">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="libs/html5shiv-3.7.0/html5shiv.js"></script>
          <script src="libs/respond-1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- MalControl -->
        <link href="css/malcontrol.css" type="text/css" rel="stylesheet">
        <link href="css/map.css" type="text/css" rel="stylesheet">
    </head>
    <body ng-controller="StatsController">
        <div id="map" style="height: 100%;"></div>
        <div id="map-panel">
            <div class="pull-left">
                <div class="input-group input-group-sm date pull-left">
                    <span class="input-group-addon">From</span>
                    <input type="date" name="from" readonly 
                           class="form-control" 
                           ng-change="changeFromDate()"
                           ng-model="from_date">
                    <span class="input-group-addon btn btn-default" ng-click="open($event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                </div>
            </div>
            <div class="pull-left">
                <div class="input-group input-group-sm date pull-left">
                    <span class="input-group-addon">To</span>
                    <input type="date" name="from" readonly 
                           class="form-control" 
                           ng-change="changeToDate()"
                           ng-model="to_date">
                    <span class="input-group-addon btn btn-default" ng-click="open($event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                </div>
            </div>
        </div>
<!--        <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Top Countries</h4>
                        </div>
                        <div class="panel-body">
                            <div id="malwaresCountries" style="height: 400px;"></div>
                            <div id="threatsCountries" style="height: 400px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Statistics</h4>
                        </div>
                        <div class="panel-body">
                            <div class="panel panel-default">
                                <div class="panel-heading">Malwares</div>
                                <div class="panel-body">
                                    <p>Total: {{totalmalware}}</p>
                                    <p>Collected in last hour: {{malwaresh.current.toFixed(4)}}</p>
                                    <p>Maximum per hour: {{malwaresh.max.toFixed(4)}}</p>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">Threats</div>
                                <div class="panel-body">
                                    <p>Total: {{totalthreats}}</p>
                                    <p>Collected in last hour: {{threatsh.current.toFixed(4)}}</p>
                                    <p>Maximum per hour: {{threatsh.max.toFixed(4)}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <!-- jQuery -->
        <script type="text/javascript" src="libs/jquery-2.1.0/jquery.min.js"></script>
        <!-- jQuery UI -->
        <script type="text/javascript" src="libs/jquery-ui-1.10.4/jquery-ui.js"></script>
        <!-- Bootstrap -->
        <script type="text/javascript" src="libs/bootstrap-3.1.1/js/bootstrap.min.js"></script>
        <!-- Angular -->
        <script type="text/javascript" src="libs/angular-1.3.0/angular.min.js"></script>
        <!-- Angular-Bootstrap -->
        <script type="text/javascript" src="libs/angular-bootstrap-0.10.0/angular-bootstrap.min.js"></script>
        <!-- Moment -->
        <script type="text/javascript" src="libs/moment-2.5.1/moment-with-langs.min.js"></script>
        <!-- Javascript Infovis Toolkit -->
        <!--[if IE]><script language="javascript" type="text/javascript" src="libs/jit-2.0.1/Extras/excanvas.js"></script><![endif]-->
        <script language="javascript" type="text/javascript" src="libs/jit-2.0.1/jit-yc.js"></script>
        <!-- Highcharts -->
        <script type="text/javascript" src="libs/highcharts-3.0.10/js/highcharts.js"></script>
        <!-- Mapbox -->
        <script type="text/javascript" src="libs/mapbox-1.6.2/mapbox.js"></script>
        <script type="text/javascript" src="libs/mapbox-1.6.2/leaflet.markercluster.js"></script>
        <!-- MalControl App -->
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/controllers.js"></script>
        <script type="text/javascript" src="js/directives.js"></script>
        <script type="text/javascript" src="js/filters.js"></script>
        <script type="text/javascript" src="js/services.js"></script>

        <script type="text/javascript">
                                            $('input[type="date"]').datepicker({
                                                dateFormat: 'yy-mm-dd'
                                            });
        </script>
    </body>
</html>
