#map {
    background-color: #02233b;
}

#map-panel {
    position: absolute;
    top: 1em;
    margin-left: 50px;
}

#map-panel .date,
#map-panel .alert {
    margin-left: 1em;
    margin-top: 0.5em;
}
#map-panel .date input {
    font-size: 1em;
    text-align: center;
}
#map-panel .date {
    width: 15em;
}
#map-panel .alert {
    padding:  4px;
    padding-left: 2em;
    padding-right: 2em;
    text-align: center;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
    font-size: 1.5em;
    text-align: center;
    text-indent: 0px;
}

#chart-btn {
    margin: 7px;
    padding: 5px 10px 5px 10px;
}

#charts-modal .modal-dialog{
  width: 90%;
}